---
import { Image } from "astro:assets";
import aboutImg1 from "../../assets/aboutImg1.jpg";
import aboutImg2 from "../../assets/aboutImg2.jpg";
import SectionTitle from "../SectionTitle.astro";
import Button from "../Button.astro";
import SectionIntro from "../SectionIntro.astro";
---

<section id="about" class="py-20 px-4 w-full">
	<div class="max-w-custom mx-auto">
		<div
			data-set="section title"
			class="relative mb-10 md:hidden w-full text-center"
		>
			<SectionTitle title="ABOUT" />
		</div>

		<div class="grid space-y-5 md:grid-cols-2 gap-x-4">
			<div
				data-set="about images"
				class="flex gap-2 w-full justify-evenly md:justify-start"
			>
				<Image
					src={aboutImg1}
					alt="Image of a woman doing facials"
					class="rounded-[150px] w-[55%] mix-blend-darken md:w-[50%]"
				/>
				<Image
					src={aboutImg2}
					alt="beauty products"
					class="rounded-[150px] w-[35%] self-end mix-blend-darken md:w-[30%]"
				/>
			</div>

			<div class="grid space-y-4 lg:space-y-2">
				<div class="relative hidden md:block">
					<SectionTitle title="ABOUT" />
				</div>
				<SectionIntro
					text="We provide special care for your appearance and beauty."
				/>
				<article class="max-w-lg text-secondary-grey">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias
					dolore commodi placeat unde tempore, ad est eligendi? Nobis, veniam
					magnam? Voluptatibus, deleniti tenetur. Nihil, saepe! Quasi nemo unde
					excepturi. <br /><br /> Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Omnis esse blanditiis maxime qui sit nostrum nihil
					architecto sed alias veritatis
				</article>
				<div>
					<Button
						btnClass="text-white py-2 px-6 border-2 border-primary-brown rounded-3xl bg-primary-brown duration-200 hover:bg-transparent hover:text-primary-brown text-center"
					>
            <a href="#services">Learn more</a>
          </Button>
				</div>
			</div>
		</div>
	</div>
</section>
