---
import { Image } from 'astro:assets';
import logoImg from '../assets/Logo.svg'
import Button from './Button.astro';
const navLinks = [
  {
    link_name: "Home",
    url: "#home"
  },
  {
    link_name: "About",
    url: "#about"
  },
  {
    link_name: "Services",
    url: "#services"
  },
  {
    link_name: "Contact",
    url: "#contact"
  },
]
---

<div class="w-full max-w-[1440px] mx-auto p-4 backdrop-blur-lg">
  <nav class="flex justify-between items-center">
    <div>
      <Image src={logoImg} alt="Logo image" />
    </div>
    
    <ul class="hidden w-[35%] md:flex md:justify-between">
      { navLinks.map((data) => 
        <li class="duration-200 text-gray-600 hover:text-black">
          <a href={data.url}>{data.link_name}</a>
        </li>
      )}
    </ul>
    
    <div>
      <Button btnClass="text-secondary-grey border-2 p-2 border-primary-yellow duration-200 rounded-3xl hover:bg-primary-yellow hover:text-white">
        <a href="#contact">Book Appointment</a>
      </Button>
    </div>
  </nav>
</div>
